<!doctype html>
<html lang="en">

  <body>
    <h1>Thank you for submitting!</h1>
    <p> Your bird species is: <%= birdSpecies %></p>
    <p> Your bird nickname is: <%= birdNickname %></p>
    <p> Your bird status is: <%= birdStatus %></p>
   
  </body>
</html>
